body {
  margin: 0;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 320px;
  height: 520px;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.screen{
    color: #1c191c;
    background: white;
    line-height: 90px;
    font-size: 4em;
    padding: 16px 4px 16px 0;
    flex: 1;  
    border-radius: 4px;
    margin-bottom: 1rem;
}

.calculatorBox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.button{
  background-color: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
}

.button:hover{
  border: 1px solid #242424;
}

.zero{
	grid-column: span 2 / span 2;
}

.opt {
  background-color: orange;
}

.screen .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 5px;
  transform-origin: right;
}

.auto-scaling-text {
  display: inline-block;
}

